<h2>Ingrese Informacion General</h2>

<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            <label class="col-sm-3 control-label">Nombre</label>
            <input name="firstName" class="form-control" type="text" required ng-model="user.firstName" />
        </div>
        <div class="form-group" ng-class="{ 'has-error' : user.lastName.$invalid && !user.lastName.$pristine }">
            <label class="col-sm-3 control-label">Apellidos</label>
            <input name="lastName" class="form-control" type="text" required ng-model="user.lastName">
            <p ng-show="user.lastName.$invalid && !user.lastName.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Numero de Identificacion</label>
            <input name="personalId" class="form-control" type="number" required ng-model="user.personalId" />
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Fecha de Nacimiento</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" data-mask="99/99/9999" placeholder="" required ng-model="user.dob">
                <span class="help-block">dd/mm/yyyy</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Numero Casa</label>
            <input name="homePhone" class="form-control" type="phone" ng-model="contact.homePhone" />
        </div>
        <div class="form-group">
            <label class="control-label">Numero Trabajo</label>
            <input name="workPhone" class="form-control" type="phone" ng-model="contact.workPhone" />
        </div>
        <div class="form-group">
            <label class="control-label">Numero Celular</label>
            <input name="cellPhone" class="form-control" type="phone" ng-model="contact.cellPhone" />
        </div>
        <div class="form-group">
            <label class="control-label">Tipo</label>
            <input name="postalCode" class="form-control" type="text" ng-model="user.postalCode" />
        </div>
        <div class="form-group">
            <label class="control-label">Dirección</label>
            <input name="streetAddress" class="form-control" type="text" ng-model="user.streetAddress" />
        </div>
        <div class="form-group">
            <label class="control-label">Ciudad</label>
            <input name="city" class="form-control" type="text" ng-model="user.city" />
        </div>
        <div class="form-group">
            <label class="control-label">Departamento</label>
            <input name="state" class="form-control" type="text" ng-model="user.state" />
        </div>      
    </div>
</div>
<a ui-sref="patients.nuevoPaciente.step_verify" class="btn btn-primary">Siguiente</a>
