<div class="pageheader">
    <h1>Profile</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a>
            </li>
            <li>Pages</li>
            <li class="active">Profile</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight" ng-controller='patientCtrl'>
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-8">
            <section class="panel">
                <div class="panel-body profile-wrapper">
                    <div class="col-md-3">
                        <div class="profile-pic text-center">
                            <img src="img/iconUser.png" alt="" class="img-circle">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-info">
                            <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
                            <strong>{{ patient.personal_id_type }}</strong><span class="text-muted">{{ patient.personal_id }}</span>
                            <br>
                            <strong>Fecha de nacimiento:</strong><span class="text-muted"> {{ patient.dob }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
        <div class="col-md-6">
            <div class="panel widget-mini">
                <div class="panel-body">
                    <i class="fa fa-phone"></i>
                    <span class="title text-center">Contacto</span>
                    <div ng-repeat="record in patient.phones">
                        <span class="title text-center">{{ record.ref_name }}</span>
                        <abbr title="Telefono">T : </abbr><span class="text-muted">{{ record.phone }}</span>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-6">
            <div class="panel widget-mini">
                <div class="panel-body">
                    <i class="fa fa-home"></i>
                    <span class="title text-center">Direcciones</span>
                    <div ng-repeat="record in patient.addresses">
                        <address>
                            <strong>{{ record.ref_name }}</strong>
                            <br>{{ record.street_l1 }}
                            <br>{{ record.city }},{{ record.state }},{{ record.country }}
                            <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-6">
            <div class="panel widget-mini">
                <div class="panel-body">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="title text-center">Productos</span>
                </div>
            </div>
        </div>  
        <div class="col-md-6">
            <div class="panel widget-mini">
                <div class="panel-body">
                    <i class="fa fa-eye"></i>
                    <span class="title text-center">Examenes</span>
                    <div ng-repeat="record in patient.examns">
                        <span class="title text-center">{{ record.created_by }}</span>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>