<div class="container" >
    <form name="examForm" class="form-horizontal" ng-controller="ExamController as examCtrl" ng-submit="examCtrl.save()" novalidate>
        <h2>{{examCtrl.mode}}</h2>
        <div role="tabpanel">
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- General -->
                <h3>General</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.ocupation.$invalid}">
                        <label class="col-sm-2 control-label">Ocupation</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="ocupation"
                                ng-model="examCtrl.exam.ocupation" 
                                >
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.av_right.$invalid}">
                        <label class="col-sm-2 control-label">Motivo de Consulta</label> 
                        <div class="col-sm-4">
                            <textarea class="form-control"
                                name="motivation"
                                ng-model="examCtrl.exam.motivation"
                                rows="3">
                            </textarea>
                        </div>
                    </div>
                
                    <div class="form-group" ng-class="{'has-error':examForm.av_right.$invalid}">
                        <label class="col-sm-2 control-label">Antecedentes</label> 
                        <div class="col-sm-4">
                            <textarea class="form-control"
                                name="history"
                                ng-model="examCtrl.exam.history"
                                rows="3">
                            </textarea>
                        </div>
                    </div>
                <!-- Agudeza Visual -->  
                <h3>Agudeza Visual</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.av_right.$invalid}">
                        <label class="col-sm-2 control-label">Right Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="av_right"
                                ng-model="examCtrl.exam.av_right"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.av_left.$invalid}">
                        <label class="col-sm-2 control-label">Left Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="av_left"
                                ng-model="examCtrl.exam.av_left"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- Contact Lenses -->  
                <h3>Contact Lenses</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.cl_right.$invalid}">
                        <label class="col-sm-2 control-label">Right Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="cl_right"
                                ng-model="examCtrl.exam.cl_right"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.cl_left.$invalid}">
                        <label class="col-sm-2 control-label">Left Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="cl_left"
                                ng-model="examCtrl.exam.cl_left"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- keratometer -->  
                <h3>keratometer</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.kt_right.$invalid}">
                        <label class="col-sm-2 control-label">Right Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="kt_right"
                                ng-model="examCtrl.exam.kt_right"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.kt_left.$invalid}">
                        <label class="col-sm-2 control-label">Left Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="kt_left"
                                ng-model="examCtrl.exam.kt_left"
                                placeholder="0.00"
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- lensmetric -->  
                <h3>Lensometria</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.lx_right.$invalid}">
                        <label class="col-sm-2 control-label">Right Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="lx_right"
                                ng-model="examCtrl.exam.lx_right"
                                placeholder="+2.00-2.50x15" 
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.lx_left.$invalid}">
                        <label class="col-sm-2 control-label">Left Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="lx_left"
                                ng-model="examCtrl.exam.lx_left"
                                placeholder="+2.00-2.50x15" 
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.lx_add.$invalid}">
                        <label class="col-sm-2 control-label">Addition</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="lx_add"
                                ng-model="examCtrl.exam.lx_add"
                                placeholder="2.00" 
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- RX Final -->  
                <h3>RX Final</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.rx_right.$invalid}">
                        <label class="col-sm-2 control-label">Right Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="rx_right"
                                ng-model="examCtrl.exam.rx_right"
                                placeholder="+2.00-2.50x15" 
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.rx_left.$invalid}">
                        <label class="col-sm-2 control-label">Left Eye</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="rx_left"
                                ng-model="examCtrl.exam.rx_left"
                                placeholder="+2.00-2.50x15" 
                                >
                            </input>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':examForm.rx_add.$invalid}">
                        <label class="col-sm-2 control-label">Addition</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="rx_add"
                                ng-model="examCtrl.exam.rx_add"
                                placeholder="2.00" 
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- Ocular Motility -->  
                <h3>Motilidad Ocular</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.oc_motility.$invalid}">
                        <label class="col-sm-2 control-label">Motilidad Ocular</label> 
                        <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="oc_motility"
                                ng-model="examCtrl.exam.oc_motility"
                                >
                            </input>
                        </div>
                    </div>
                    
                <!-- Opthalmos -->  
                <h3>Oftalmoscopia</h3>
                    <div class="form-group" ng-class="{'has-error':examForm.dx_Opthal.$invalid}">
                        <label class="col-sm-2 control-label">Directa</label>  
                            <div class="col-sm-4">
                            <input type="text"
                                class="form-control"
                                name="dx_Opthal"
                                ng-model="examCtrl.exam.dx_Opthal"
                                placeholder="0" 
                                >
                            </input>
                        </div>
                    </div>
                
                <!-- Observations -->
                    <div class="form-group" ng-class="{'has-error':examForm.observations.$invalid}">
                        <label class="col-sm-2 control-label">Observation</label> 
                        <div class="col-sm-4">
                            <textarea class="form-control" 
                                name="observation"
                                ng-model="examCtrl.exam.observation"
                                rows="3">
                            </textarea>
                        </div>
                    </div>
                
                <!-- Diagnostic -->  
                    <div class="form-group" ng-class="{'has-error':examForm.diagnostic.$invalid}">
                        <label class="col-sm-2 control-label">Diagnostico</label> 
                        <div class="col-sm-4">
                            <textarea class="form-control"
                                name="diagnostic"
                                ng-model="examCtrl.exam.diagnostic"
                                rows="3">
                            </textarea>
                        </div>
                    </div>
                
                <!-- Plan -->  
            </div>
        </div>
        <button type="submit" value="submit" class="btn btn-success pull-right" ng-show="examForm.$valid">Save</button>
    </form>    
</div> 