<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1b" stopProcessing="true">
          <match url="^~/(.*)/$"  />
          <action type="Rewrite" url="/wwwroot/wwwroot/index.php//{R:1}"  />
        </rule>
        <rule name="rule 2b" stopProcessing="true">
          <match url="^~/"  />
          <action type="Rewrite" url="/wwwroot/wwwroot/index.php"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>