<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1b" stopProcessing="true">
          <match url="^~develop/Laap/wwwroot/(.*)/$"  />
          <action type="Rewrite" url="/~develop/Laap/wwwroot//{R:1}"  />
        </rule>
        <rule name="rule 2b" stopProcessing="true">
          <match url="^~develop/Laap/wwwroot/"  />
          <action type="Rewrite" url="/~develop/Laap/wwwroot/index.php"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>